{% load static %}

<div class="row question-container question-container-border">
    <div class="col-md-3">
        <div class="row justify-content-center">
            <img class="avatar" src={% static "img/user.png" %}  >
        </div>

         <div class="row justify-content-center">

             <div class="row  justify-content-center ">
                 <div class="btn btn-link btn-lg btn-like">
                    <i onclick="likeToggle(this)" class="fa fa-thumbs-up"></i>
                 </div>
              </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <p>{{ comment.text }}</p>
        </div>
        <div class="form-group row mb-0">
                <label for="correct" >Correct</label>
            <div class="col-md-5">
                <input type="checkbox" id="correct">
            </div>
            <div class="col-md-5">
                {{ comment.rating }}
            </div>
        </div>
    </div>
</div>

