{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="row justify-content-center">
            <img class="avatar rounded" src={% static "img/user.png" %}  >
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <h3><a href={% url "question" question.pk %}>{{ question.title }}</a></h3>
        </div>
        <div class="row">
            <p>{{ question.text }}</p>
        </div>
        <div class="row mb-0">
            <div class="col-8">
                Tags:
                {% for tag in question.tags.all %}
                    <a href={% url "tag" tag.title %}>{{ tag.title }}</a>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                {{ question.rating }}
            </div>
        </div>
    </div>
</div>



    <br>
    {% for comment in question.comment_set.all %}
        {% include "questions/comment.html" %}
    {% endfor %}
    <br>
    <form action="#" class='input-question'>
        <div class="form-group row">
            <textarea  id='Text' class='form-control' cols="5" rows="5" placeholder="Enter your answer here.."></textarea>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary">Ask!</button>
        </div>
    </form>


{% endblock %}