<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>AskSardaryan</title>
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <table cellpadding="5">
                        <tr>
                            <td>
                            <img class="avatar" alt='avatar' src={% static "img/user.png" %}>
                            </td>
                            <td>
                                <h4 class="text-white">Artur Sardaryan</h4>
                                <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Log Out</a></li>
                        <li><a href="#" class="text-white">Settings</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>AskSardaryan</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<body>

    <div class="container">
      <header class="blog-header py-3">
      </header>



    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">

            <!-- questions -->

            {% block content %}
            {% endblock %}


        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">


          <div class="p-3">
            <h4 class="font-italic">Popular Tags</h4>
            <ol class="list-unstyled mb-0">
                <!--
                {% for tag in best_tags %}
                    <a href="#" style="margin-right:1em;">{{ tag }}</a>
                {% endfor %}
                -->
              <li><a href="#">Python</a></li>
              <li><a href="#">Django</a></li>
              <li><a href="#">Swift</a></li>
              <li><a href="#">iOS</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Best Members</h4>
            <ol class="list-unstyled">
                <!--
                {% for user in best_users %}
                    <li><a href="#">{{ user }}</a></li>
                {% endfor %}
                -->

              <li><a href="#">Vladimir Putin</a></li>
              <li><a href="#">Donald Trump</a></li>
              <li><a href="#">Kim Jong Un</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <div class="footer">
    </div>



<svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body>
</body>

</html>

